---
import MainLayout from "@layouts/MainLayout.astro";
import Card from "@components/Card.astro";

const posts = await Astro.glob("./posts/*.md");
---
<MainLayout selectedIndex={2}>
  <div class="flex flex-col [&>*:nth-child(3n+1)]:bg-cyan-100 [&>*:nth-child(3n+2)]:bg-violet-100 [&>*:nth-child(3n)]:bg-rose-100">
    {
      posts.map(post => {
        const { url, frontmatter } = post;
        const { title, description, image, author } = frontmatter;
        return <div class="min-h-[400px] p-10">
          <Card title={title} desc={description} imgUrl={image.url} postUrl={url!!} author={author}/>  
        </div>
      })
    }
  </div>
</MainLayout>
