---
import MainLayout from "@layouts/MainLayout.astro";
import GalleryLayout from "@layouts/Sections/GalleryLayout.astro";

const items = await Astro.glob("../../public/img/crafts/*.jpg");
const nItems = items.length;
const nCols = 3;
const nRows = Math.ceil(nItems / nCols);
---
<MainLayout selectedIndex={1}>
  <div class="flex flex-col ">
    <div class="visible sm:hidden [&>*:nth-child(3n+1)]:bg-cyan-100 [&>*:nth-child(3n+2)]:bg-violet-100 [&>*:nth-child(3n)]:bg-rose-100">
      <GalleryLayout useGrid={false} nCols={1} images={items.map(item => item.default)}/> 
    </div>
    <div class="collapse sm:visible flex flex-col [&>*:nth-child(3n+1)]:bg-cyan-100 [&>*:nth-child(3n+2)]:bg-violet-100 [&>*:nth-child(3n)]:bg-rose-100">
      {
        [...new Array(nRows).keys()].map((n: number) => {
          const slice = items.slice(nCols * n, nCols * (n + 1)).map((r) => r.default);
          return <GalleryLayout nCols={nCols} images={slice} />
        })
      }
    </div>
  </div>
</MainLayout>