---
import InstagramIcon from "@components/icons/Instagram.astro";
import TwitterIcon from "@components/icons/Twitter.astro";
import FacebookIcon from "@components/icons/Facebook.astro";
import TiktokIcon from "@components/icons/Tiktok.astro";

import "@styles/global.css";
---

<footer class="flex justify-center text-center justify-items-center align-middle bg-amber-100">
  <div class="m-2  border-slate-900 w-3/4 md:justify-center justify-evenly flex flex-row">
    <div class="p-2">
      <a href="/"><FacebookIcon fill="#78350f" /></a>
    </div>
    <div class="p-2">
      <a href="/"><TwitterIcon fill="#78350f"/></a>
    </div>
    <div class="p-2">
      <a href="/"><InstagramIcon fill="#78350f"/></a>
    </div>
    <div class="p-2">
      <a href="/"><TiktokIcon fill="#78350f"/></a>
    </div>
  </div>
</footer>