---
import MainLayout from "./MainLayout.astro";
import Navbar from "@components/Navbar.astro";

const { frontmatter } = Astro.props;
---
<MainLayout selectedIndex={2}>
  <div class="justify-center text-center bg-cyan-100">
    <h1 class="text-6xl">{frontmatter.title}</h1>
    <p class="text-2xl">By {frontmatter.author}</p>
    <p>{frontmatter.pubDate.slice(0, 10)}</p>
    <img src={frontmatter.image.url} />
  </div>
  <div class="justify-center align-middle text-center bg-rose-100">
    <slot />
  </div>
</MainLayout>
